<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">View Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" offset-sm="3">
      <ion-list>
        
          <ion-card *ngFor="let items of expenses">
            <ion-card-header>
                <ion-card-title>{{items.expenseFor}}</ion-card-title>
                <ion-card-subtitle>{{items.date | date}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Amount: {{items.amount}}</p>
              <p>Currency: {{items.currency}}</p>
            </ion-card-content>
          </ion-card>
        
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
